#textdomain wesnoth-units
[unit_type]
    id=Azorius Guildgate
    name= _ "Azorius Guildgate"
    race=mechanical
    image="units/azorius-guildgate.png"
    hitpoints=40
    movement_type=fly
    movement=0
    experience=999
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Enter the Senate, the seat of justice and the foundation of Ravnican society."

    {DEFENSE_ANIM "units/transport/azorius-guildgate.png" "units/transport/azorius-guildgate.png" wose-hit.ogg }

    [movement_costs]
        
    [/movement_costs]

    [defense]
        castle=70
    [/defense]

    [resistance]
    [/resistance]

    [abilities]
{ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
