#textdomain wesnoth-units
[unit_type]
    id=Boros Garrison
    name= _ "Boros Garrison"
    race=mechanical
    image="units/boros-garrison.png"
    hitpoints=60
    movement_type=fly
    movement=0
    experience=999
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "It promises protection for those in need and proclaims a warning to any who would threaten Ravnican law."

    {DEFENSE_ANIM "units/transport/boros-garrison.png" "units/transport/boros-garrison.png" wose-hit.ogg }

    [movement_costs]
        
    [/movement_costs]

    [defense]
        castle=70
    [/defense]

    [resistance]
    [/resistance]

    [abilities]
{ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
