#textdomain wesnoth-units
[unit_type]
    id=Golgari Guildgate
    name= _ "Golgari Guildgate"
    race=mechanical
    image="units/golgari-guildgate.png"
    hitpoints=30
    movement_type=gruefoot
    movement=0
    experience=999
    level=0
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Enter those who are starving and sick. You are welcome among the Swarm when the rest of Ravnica rejects you."

    {DEFENSE_ANIM "units/transport/golgari-guildgate.png" "units/transport/golgari-guildgate.png" wose-hit.ogg }

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
