#textdomain wesnoth-units
[unit_type]
    id=Gruul Guildgate
    name= _ "Gruul Guildgate"
    race=mechanical
    image="units/gruul-guildgate.png"
    hitpoints=30
    movement_type=orcishfoot
    movement=0
    experience=999
    level=0
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Enter and leave the shackles of society behind."

    {DEFENSE_ANIM "units/transport/gruul-guildgate.png" "units/transport/gruul-guildgate.png" wose-hit.ogg }

    [abilities]
       {ABILITY_REGENERATES} 
    [/abilities]

[/unit_type]
