#textdomain wesnoth-units
[unit_type]
    id=Selesnya Sanctuary
    name= _ "Selesnya Sanctuary"
    race=mechanical
    image="units/selesnya-sanctuary.png"
    hitpoints=60
    movement_type=fly
    movement=0
    experience=999
    level=0
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "The Selesnya welcome all to help them heal the city's wounds. The price, however, is devotion to the guild and a selfless belief in Trostani."

    {DEFENSE_ANIM "units/transport/selesnya-sanctuary.png" "units/transport/selesnya-sanctuary.png" wose-hit.ogg }

    [movement_costs]
        
    [/movement_costs]

    [defense]
	castle=70        
    [/defense]

    [resistance]

    [/resistance]

    [abilities]
{ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
