#textdomain wesnoth-units
[unit_type]
    id=Simic Growth Chamber
    name= _ "Simic Growth Chamber"
    race=mechanical
    image="units/simic-growth-chamber.png"
    hitpoints=60
    movement_type=fly
    movement=0
    experience=999
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Simic biomancers don't concern themselves with guarding. Their ever-present creations are enough to ward off trespassers."

    {DEFENSE_ANIM "units/transport/simic-growth-chamber.png" "units/transport/simic-growth-chamber.png" wose-hit.ogg }

    [movement_costs]
        
    [/movement_costs]

    [defense]
        	castle=70        
    [/defense]

    [resistance]

    [/resistance]

    [abilities]
{ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
