#textdomain wesnoth-units
[unit_type]
    id=Simic Guildgate
    name= _ "Simic Guildgate"
    race=mechanical
    image="units/simic-guildgate.png"
    hitpoints=30
    movement_type=woodland
	{LESS_NIMBLE_ELF}
    movement=0
    experience=999
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=0
    undead_variation=human
    usage=fighter
die_sound=wose-die.ogg

    description= _ "Enter and comprehend the perfection of orchestrated life."

    {DEFENSE_ANIM "units/transport/simic-guildgate.png" "units/transport/simic-guildgate.png" wose-hit.ogg }

[defense]
deep_water=80
[/defense]

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

[/unit_type]
